.front .region-content .block-views {
  display: inline-block;
  border: solid black 1px;
  vertical-align: top;
  min-width: 43%;
  margin-left: 5%;
}

.front .region-content .block-views h2 {
  text-align: center;
}

.front .region-content .block-views .views-row-odd {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 1ex;
}

.front .region-content .block-views .views-row-even {
  background-color: #EEEEEE;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 1ex;
}
