/* Inspired by Bootstrap */
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.front .region-content .block-views {
  display: inline-block;
  border: solid black 1px;
  vertical-align: top;
  min-width: 32%;
  margin-right: 1%;
  box-sizing: border-box;
}

.front .region-content .block-views:last-child {
  margin-right: 0%;
}

.front .region-content .block-views h2 {
  text-align: center;
}

.front .region-content .block-views .views-row-odd {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 1ex;
}

.front .region-content .block-views .views-row-even {
  background-color: #EEEEEE;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 1ex;
}

.front .region-content .block-views .file-video .content {
  margin: 0;
}
